.login-popup{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23w,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.login-popup-title img{
    width: 16px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: chartreuse;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: 5px;
}
.login-popup-condition input{
    margin-top: 3px;
    color: #7fff00;
    background-color:#7fff00 ;
}
.login-popup p span{
    color: chartreuse;
    font-weight: 500;
    cursor: pointer;
}
/* In case of Overriding of css */
.login-popup-inputs .name-input{
    color: #808080;
    background-color: white;  
}
.login-popup-inputs .email-input{
    color: #808080;
    background-color: white;  
}
.login-popup-inputs .password-input{
    color: #808080;
    background-color: white;
}
